**/__pycache__

# Data files
Data/*/*/*.tif
Data/*/*/*.txt
Data/*/*/*.vrt
Data/HydroBasins/*/*.shp
Data/HydroBasins/*/*.shx
Data/HydroBasins/*/*.prj
Data/HydroBasins/*/*.dbf
Data/HydroBasins/*/*.fix
Data/HydroBasins/*/*.cpg
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.csv

# Output
results

# Packaging
rabpro.egg-info
dist/**
build/**

# Docs
docs/_build

# Testing
.coverage

# Development
.vscode
*.Rproj
.Rhistory
.Rproj.user